.ms-main-banner {
    height: 100vh;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: url(https://misionessabor.com/images/banner/MS-IMG-BANN.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.ms-main-banner-divt h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

@media screen and (max-width: 991px) {
    .ms-main-banner-sect {
        margin-bottom: 3rem;
    }
    .ms-main-banner {
        background-position: right;
        height: 450px;
    }
    .ms-main-banner-divt {
        margin: 1rem 4%;
        padding: 0;
    }
    .ms-main-banner-divt h1 {
        font-size: 35px;
        letter-spacing: 3px;
        line-height: 50px;
    }
}

@media screen and (min-width: 992px) {
    .ms-main-banner-sect {
        margin-bottom: 5rem;
    }
    .ms-main-banner-divt {
        margin-top: 3rem;
        margin-left: 4%;
        padding: 2rem 0;
    }
    .ms-main-banner-divt h1 {
        font-size: 60px;
        letter-spacing: 3px;
        line-height: 80px;
    }
}