/*--------------------------------------*/
/* -- SMALL SCREEN -- */
@media screen and (max-width: 991px) {
    #ms-featured-title {
      font-size: 18px;
    }
  /*+++++++++ BANNER +++++++++*/
      .ms-banner {
        margin-bottom: 4rem;
      }  
      .banner-intro {
        position: absolute!important;
        height: 100%!important;
      }
    /*
      .banner-img {
        height: 100vh!important;
      }
    */
      .banner-tbox {
        padding: 5rem 1.5rem!important;
      }
      .banner-th3 {
        font-size: 30px;
        letter-spacing: 1px;
        margin-bottom: 2rem;
        width: 85%;      
      }
      .banner-tbutton {
        width: 200px;
        height: 50px;
      }
      .banner-tbtn-p {
        font-size: 12px;
      }
      .banner-tbutton svg {
        height: 10px;
        width: auto;
      }
  /*++++++ POLICY PAGES ++++++*/
    .shopify-policy__title {
      padding: 0 1.5rem;
      width: 90%;
    }
    .shopify-policy__title h1 {
      line-height: 50px;
      font-size: 25px;
    }
    .shopify-policy__body {
      margin: 0 1.5rem;
    }
    .ms-poly-title {
      font-size: 15px;
    }
    .ms-poly-p {
      font-size: 13px;
    }
    .collapsible {
      padding: 10px;
    }
  /*+++++++++ ABOUT US +++++++++*/
    #ms-about {
      margin: 4rem 1.5rem;
    }
    #ms-about-h1 {
      font-size: 20px;
    }
    #ms-about-h2 {
      font-size: 40px;
    }
    .ms-about-p {
      width: 100%;
    }
  /*++++++ WHOLESALE ++++++*/
    .page-width--narrow {
      padding: 0!important;
    }  
    #ms-wholesale-banner{
        height: 300px;
    }
    #ms-wholesale-title{
        margin: 48px 1.5rem;
        font-size: 25px;
    }
    #ms-wholesale-text{
      padding: 5rem 1.5rem;
    }
    .ms-whs-p{
        font-size: 15px;
    }
    #ms-whs-work{
        display: block;
        padding: 5rem 0;
    }
    .ms-whs-wdiv{
        width: 100%;
    }
    #ms-whs-wh2{
        padding: 3rem 1.5rem;
        line-height: 40px;
        font-size: 20px;
    }
    .ms-whs-wp{
        font-size: 15px;
        line-height: 30px;
        padding: 0 1.5rem;
    } 
    .ms-whs-wbtn {
      padding: 2rem 3rem;
      margin: 3rem 1.5rem;
    }
    #ms-whs-knowmore{
        padding: 0 1.5rem;
    }
    #ms-whs-ktitle{
        padding: 5rem 0;
    }
    #ms-whs-kh2{
        font-size: 20px;
        line-height: 40px;
    }
    .ms-whs-kp{
        font-size: 15px;
    }
    #ms-whs-kform{
        width: 100%;
    }
  /*+++++++++ CONTACT +++++++++*/
    #ms-contact-div {
      margin: 4rem 1.5rem;
    }
    #ms-contact-fh1 {
      font-size: 18px;
      margin: 1rem 0;
    }
    #ms-contact-fh2 {
      font-size: 25px;
      margin: 2rem 0;
      width: 80%;
      line-height: 50px;
    }  
    .ms-contact-formdiv {
      margin: 3rem 1.5rem;
    }  
    /*------- END*/ 
  }