/*--------------------------------------*/
/*------------    HTML TAGS   ----------*/
/*--------------------------------------*/
body {
  font-family: 'Poppins', sans-serif!important;
  margin: 0;
  padding: 0;
}
/*--------------------------------------*/
/*------------ GLOBAL SCREEN  ----------*/
/*--------------------------------------*/
.ms-main {
  margin-bottom: 6rem;
}
/*+++++++++ BANNER +++++++++*/
.banner-intro {
    background-color: #00000038;
    padding: 0;
    align-items: unset!important;
}
.banner-tbox {
    max-width: 100%!important;
    text-align: left!important;
    background-color: transparent!important;
    width: 100%!important;
}
.banner-tbox a {
    text-decoration: none;
}
.banner-th3 {
    margin: 0;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-tbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.banner-tbtn-p {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding-right: 20px;
}
/*++++++ POLICY PAGES ++++++*/
  .shopify-policy__container {
    width: 100%!important;
    max-width: 100%!important;
    padding: 0;
  }
  .shopify-policy__title {
    text-align: left;
  }
  .shopify-policy__title h1 {
    text-transform: uppercase;
    margin: 5rem 0 2.5rem 0;
  }
  .shopify-policy__body {
    border-top: 3px solid black;
    padding: 5rem 0 0 0;
  }
  .ms-poly-title {
    text-transform: uppercase;
    font-weight: 600;
  }
  .ms-poly-p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    margin: 15px 0;
  }
  .ms-poly-margin {
    padding: 1rem 0;
  }
  .ms-poly-italic {
    font-style: italic;
  }
  .ms-poly-dropcontent {
    display: flex;
    align-items: center;
  }
  .ms-poly-dropcontent i {
    font-size: 20px;
    color: black;
    padding-right: 20px;
  }
  .ms-poly-content {
    display: none;
    overflow: hidden;
  }
  .collapsible {
    background-color: #F2F2F2;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: block;
  }
  /* .active, .collapsible:hover {
    background-color: #E0F8EC;
  } */
  .content {
    padding: 10px 20px;
    display: none;
    overflow: hidden;
    background-color: #F0F0F0;
  } 
/*+++++++++ ABOUT US +++++++++*/
#ms-about-h1, #ms-about-h2 {
  text-transform: uppercase;
}
/*+++++++++ CONTACT +++++++++*/
  #ms-contact-fh1, #ms-contact-fh2 {
    text-transform: uppercase;
  }
  .ms-contact-fp a {
    color: black;
  }
/*+++++++++ PRODUCTS +++++++++*/
  .product__media-toggle, .product__modal-opener .product__media-icon {
    display: none!important;
  }
/*--------------------------------------*/


