/*--------------------------------------*/
/*------------    HTML TAGS   ----------*/
/*--------------------------------------*/
body {
  font-family: 'Poppins', sans-serif!important;
  margin: 0;
  padding: 0;
  background-color: #edeeed;
}
/*--------------------------------------*/
/*------------ GLOBAL SCREEN  ----------*/
/*--------------------------------------*/
.ms-main {
  margin-bottom: 6rem;
}
/*+++++++++ PRODUCTS +++++++++*/
  .product__media-toggle, 
  .product__modal-opener 
  .product__media-icon {
    display: none!important;
  }
/*--------------------------------------*/


