*{
    margin: 0;
    padding: 0;
}
#ms-product-tmp-div{
    display: grid;
    grid-template-columns: auto auto;
}
.ms-prd-img img{
    width: auto;
    height: 10vh;
}
.ms-product-dta{
    height: auto;
    width: 100%;
    padding: 3rem 5rem;
}
.ms-prd-h1{
    border-top: 4px solid #000;
    padding-top: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
}