#ms-shop-maindiv {
    display: grid;
    grid-template-columns: 80%;
}
.ms-shop-navdiv {
    height: 100%;
    background-color: white;
    position: relative;
}
.ms-shop-divfilter {
    padding: 1rem 2rem;
    /* position: fixed; */
}
.ms-shop-divfilter h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1rem 0;
}
.ms-shop-divfilter ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}
.ms-shop-divfilter li {
    margin: 0.5rem 0;
}
.ms-shop-divfilter a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.ms-shop-divfilter a:hover::after {
    content: url(../images/icons/arrow-right-solid.svg);
    display: inline-block;
    margin-left: 1rem;
}
.ms-shop-divall {
    background-color: rgb(239, 239, 239);
    padding: 2rem 2rem;
}
.ms-shop-divall h1 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 20px;
} 
.ms-shop-ul {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.ms-shop-li {
    height: auto;
}
.ms-shop-li:hover, .ms-shop-li:focus-within {
    box-shadow: 0 11px 20px #00000026;
    transition: .2s;
}
.ms-shop-li a {
    text-decoration: none;
    color: black;
}
.ms-shop-img {
    width: 100%;
    height: auto;
}
.ms-shop-info {
    background-color: white;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}
.ms-shop-info h1 {
    font-size: 17px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 1px;
}
.ms-shop-info h2 {
    font-size: 15px;
    font-weight: 400;
}
.ms-shop-info p {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}


@media screen and (max-width: 991px) {
    
}

@media screen and (min-width: 992px) {
    
}